:root {
    --border-color: rgb(219, 211, 211);
    --download-btn-color: rgb(181, 249, 205);
    --delete-btn-color: rgb(238, 124, 124);
}

h2 {
    margin: 3rem 1rem;
    font-family: 'Poppins', sans-serif;
}

.list-group, .fileList {
    display: flex;
    align-items: center;
}

.list-group {
    list-style: none;
    padding: 0;
    flex-direction: column;
}

.fileList {
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}


.fileList:first-child {
    border-top: 1px solid var(--border-color);
}

.fileName {
    font-size: 1.25rem;
    font-weight: 475;
    flex: 0.25;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.badge {
    width: 4rem;
    font: inherit;
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
}

.dbtn {
    border: none;
    border-radius: 50rem;
    width: 3rem;
    padding: 0.25rem;
    line-height: 1;
}

.dbtn:hover {
    background-color: var(--download-btn-color);
}

.delBtn:hover {
    background-color: var(--delete-btn-color);
}

@media only screen and (max-width: 768px) {
    .fileName {
        font-size: 1em;
        flex: 2;
    }

    .badge {
        margin-left: 5px;
        margin-right: 10px;
    }
  }