:root {
    --border-color: rgb(219, 211, 211);
    --list-hover-color: rgb(224, 224, 224);
    --download-btn-color: rgb(181, 249, 205);
    --delete-btn-color: rgb(238, 124, 124);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 80vw;
    margin: auto;
}

h2 {
    margin: 3rem 0;
}

ul, li {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
}

li {
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}


li:first-child {
    border-top: 1px solid var(--border-color);
}

li:hover {
    background-color: var(--list-hover-color);
}

.fileName {
    font-weight: 500;
    width: 50vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fileSize {
    min-width: 5em;
    font-weight: 300;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 50rem;
    width: 3rem;
    padding: 0.25rem;
}

button:hover {
    background-color: var(--download-btn-color);
}

.deleteBtn:hover {
    background-color: var(--delete-btn-color);
}

.kebabMenu {
    display: none;
}

@media only screen and (max-width: 768px) {
    .fileName, .fileSize {
        font-size: 0.8em;
    }
    
    .interactButtons {
        display: none;
    }

    .kebabMenu {
        display: block;
    }
  }