:root {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-align: center;
}

.list-group {
    list-style: none;
    margin-top: 3rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(219, 211, 211);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 70%;
}

.fileName {
    font-size: 1.25rem;
    font-weight: bold;
}

.dbtn {
    font: inherit;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 200ms;
    background-color: rgb(78, 75, 75);
    color: white;
}

.icon {
    margin-right: 5px;
}

.dbtn:hover {
    background-color: rgb(49, 155, 49);
}

.delBtn:hover {
    background-color: rgb(226, 34, 34);
}

@media screen and (max-width: 1200px) {

    .fileList {
        width: 80%;
    }

    .fileName {
        font-size: 1rem;
    }

    .dl-text {
        display: none;
    }

    .icon {
        margin: 0;
    }

    .dbtn {
        border-radius: 3rem;
    }
}