<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <!-- External CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

    <title>File Share</title>
</head>

<body>
    <div class="container">
        <h1 class="heading">
            Your Files...
        </h1>
        <ul class="list-group">
            {% for f in files %}
            <li class="fileList">
                <h3>{{f}}</h3>
                <button type="button" onclick="location.href='/download/{{f}}'" class="dbtn">
                    <i class="icon fas fa-arrow-down"></i>
                    <span>Download</span>
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b5e226511b.js" crossorigin="anonymous"></script>

</body>

</html>